.App {
  /* text-align: center; */
  /* background-color: transparent; */
  /* height:100vh; */
  color: white;
  font-size: 20px;
  text-shadow: 0 0 10px black, 0 0 10px black;
  /* margin: 10px 10px 10px 10px; */
  /* take up the whole screen */
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}


.log {
  color: red;
}



/*black background if theme is dark*/
@media (prefers-color-scheme: dark) {
  .App {
    background-color: #1D2026;
  }
}

.righthalf{
  float: right;
  width: 50%;
  height: 100%;
  /* background-color: #f1f1f1; */
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




 /* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}  */

.App-header {
  background-color: #282c34;
  min-height: 100vh;/* Viewport height */
  /* display: flex;Flexbox, to align items */
  flex-direction: column;
  /* align-items: center; */
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/